.App {
  text-align: center;
  background-color: #f2f4f7;
  height:100%;
  margin: 0;
}

.form-input {
  width: 60vw;
  padding:1%;
  margin: 2%;
}

h2 {
  margin-top: 10%;
  font-weight: lighter;
  font-size:250%;
}

#description, #requirements {
  padding-bottom:10%;
}


#container {
  text-align: center;
  margin: auto;
}